# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment (managed by Poetry)
.env
.venv

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db

# Logs and debug files
logs/
debug.log

# Audio and video files (if large)
*.mp4
*.avi
*.mov
*.mkv
*.wav
*.mp3

# Python Poetry files
poetry.lock
